@page
@model MegaDesk_RazorPages_TeamAngeles.Pages.Desks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Desk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DeskWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DeskWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DeskDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DeskDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.NumDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.NumDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DeskMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DeskMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.RushDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.RushDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.DrawerCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.DrawerCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.QuotePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.QuotePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.RushCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.RushCost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Desk.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
